body {
	margin: 0px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	box-sizing: border-box;
	color: #1c1822;
}

.anchor-list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.anchor-list a {
	padding: 2rem;
	font-size: large;
	background-color: lightgray;
	color: #1c1822;
	text-decoration: none;
	border: 1px solid darkgray;
	border-radius: 10px;
}

.full {
	width: 100%;
	text-align: center;
}

.title {
    font-size: 1.3rem;
    font-weight: 600;
}

#total_price {
    font-weight: bold;
    font-size: 1.5rem;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
	background-color: #9072c0;
	color: #fff;
	padding: 1rem;
	text-align: end;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 500;
	padding-right: 2rem;
}

nav > div {
    display: flex;
}

table {
	width: 100%;
	margin-bottom: 3rem;
}

th,
td {
	border: 1px solid #4f4461;
	padding: 0.5rem;
    text-align: center;
}

th {
	background-color: #a79bb9;
}

form {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
	padding: 0px;
	margin: 0px;
	margin-bottom: 3rem;
}

form label {
	display: flex;
	flex-direction: column;
	margin: 0px;
	padding: 0px;
}

table input {
	text-align: center;
}

input,
button,
select {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 2rem;
}

main {
	padding: 1rem;
}

.half-container {
	display: flex;
	gap: 1rem;
}

.half-container div {
	flex: 1;
}

.pushdown {
	margin-bottom: 1rem;
}

.search-container {
	display: flex;
	gap: 10px;
}

.search-container button {
	width: 20%;
}

.see-products, .make-reservation {
	font-size: larger;
	width: fit-content;
	padding: 2rem;
	height: 100%;
}

.main-title {
	font-size: 4rem;
	text-align: center;
}

.home-page {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.home-page button {
	margin: 2rem;
}